*, ::after, ::before {
	box-sizing: border-box;
}

.form-wrapper {
	width: 50%;
	margin: 0 auto;
	border: 1px solid #ddd;
	background: #f6f6f6;
	padding: 50px;
}

.form-wrapper h2 {
	display: flex;
	justify-content: center;
}

.form-wrapper input {
	width: 100%;
	padding: 10px 10px;
}

.form-wrapper fieldset {
	padding: 10px;
	margin-bottom: 20px;
}

@media (max-width: 726px) {
	.form-wrapper {
		width: 100%;
		padding: 0 10px;
	}
}